body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
img {
  width: 20%;
  margin: 10px;
}

ul {
  display: flex;
  gap: 20px;
  margin: 2px 5px;
}

.main {
  flex-direction: column;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: flex-end;
}
footer > ul {
  justify-content: space-around;
}
input {
  border-radius: 5%;
}
#img {
  text-align: center;
}
