* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 70px;
    margin-top: 50px;
    font-weight: 600;
    color: linear-gradient(to left, #553c9a, #b393d3);
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
        0px 0px 20px #b393d3;

    font-family: "Times New Roman", Times, serif;
}

body {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 50s infinite alternate;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 10em;
    border-radius: 4%;
    width: 30em;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input {
    display: flex;
    flex-direction: column;
}
:root {
    --gradient: linear-gradient(
        90deg,
        #ee6452ac,
        rgba(128, 0, 128, 0.741),
        #ee6352
    );
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.inp {
    text-align: center;
}
label {
    padding: 0.5em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
